:root {
    --page-color-hex: var(--color-primary-300);
    --page-color-rgb: 133, 242, 164;
}

nav[role="doc-toc"] {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    nav[role="doc-toc"] {
        position: sticky;
        top: calc(var(--scale-p2) * 1rem);
        overflow: hidden;
        height: max-content;
    }
}

nav[role="doc-toc"] header h2 {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

nav[role="doc-toc"] header h2 i {
    margin-right: 3px;
}
nav[role="doc-toc"] {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    nav[role="doc-toc"] {
        position: sticky;
        top: calc(var(--scale-p2) * 1rem);
        overflow: hidden;
        height: max-content;
    }
}

nav[role="doc-toc"] header h2 {
    display: flex;
    align-items: center;
}

nav[role="doc-toc"] header h2 i {
    margin-right: 3px;
}

.toc-list--item a {
    --padding-left: var(--scale-p2);
    --border-color: var(--color-slate-700-rgb);
    --border-opacity: 1;
    --border-active-color: var(--page-color-rgb);
    --border-active-opacity: 1;
    --opacity: 1;
    --link-color-rgb: var(--color-slate-300-rgb);
    --link-active-rgb: 255,255,255;
}
.toc-list--item.level-1 a {
    --padding-left: var(--scale-p2);
    --border-opacity: .3;
    --border-active-opacity: 1;
    --opacity: 1;
}

.toc-list--item.level-2 a {
    --padding-left: var(--scale-p3);
    --border-opacity: .25;
    --border-active-opacity: .7;
    --opacity: 1;
}

.toc-list--item.level-3 a {
    --padding-left: var(--scale-p6);
    --border-opacity: .2;
    --border-active-opacity: .6;
    --opacity: 1;
}

.toc-list--item.level-4 a {
    --padding-left: var(--scale-p2);
    --border-opacity: 0.1;
    --border-active-opacity: .5;
    --opacity: 1;
}

.toc-list--item a {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(var(--border-color), var(--border-opacity));
    padding-left: calc(var(--padding-left) * 1rem);
    color: rgba(21, 21, 21, var(--opacity));
    user-select: none;

    transition-duration: 150ms;
    transition-property: color, border-color, padding-left, font-weight, background-color, border-left-width;
    will-change: color, border-color, padding-left, font-weight, background-color, border-left-width;
}

.toc-list--item a {
    display: block;
    will-change: color;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 17px;
    color: rgba(var(--link-color-rgb), 1);
    text-wrap: balance;
    line-height: 1.5;
}

.toc-list--item a.active {
    border-color: rgba(var(--border-active-color), var(--border-active-opacity));
    color: rgba(var(--link-color-rgb), 1);
    border-left-width: 3px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgba(var(--link-active-rgb), .25);
    text-underline-offset: 3px;
    color: rgba(var(--link-active-rgb), 1);
    text-decoration-thickness: initial;
}

.toc-list--item a:hover,
.toc-list--item a:focus {
    color: rgba(var(--link-active-rgb), 1);
    text-decoration: underline;
    text-decoration-color: rgba(var(--link-active-rgb), .5);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: auto;
    outline: none;
}